{% extends 'base.html' %}
{% load static %}

{% block content %}
<br><br><br><br><br><br>
{% if not cart_items %}
<div> <br><br><br><br><br><br>
    <div class="text-center">
        <br>
        <h1 class="text-center my-title">
            Your Shopping Cart is empty
        </h1>

        <a class="nav-link" href="{% url 'connect:allProdCat' %}"> <img src="{% static 'images/cartpic.png' %}" alt="" width="70" height="70" class="d-inline-block align-top"></a>
        <br>
        <p class="text-center">
            Please Click <a href="{% url 'connect:allProdCat' %}">Here</a> to continue shopping.
        </p>
    </div>
</div>
{% else %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center my_title">
            Your Shopping Cart
        </h1>
        <br>
    </div>
</div>
<div class="row mx-auto">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_custom_table">
            <thead class="my_custom_thead">
            <tr>
                <th colspan="5">
                    Your Items

                </th>
            </tr>
            </thead>
            <tbody>
            {% for cart_item in cart_items %}
            <tr>
                <td>
                    <a href="{{ cart_item.product.get_url }}"><img src="{{cart_item.product.image.url}}" alt="" class="float-left rounded custom_image"></a>
                </td>
                <td class="text-left col-lg-4">
                    <b>{{cart_item.product.name}}</b>
                    <br>
                    SKU: {{cart_item.product.id}}
                    <br>
                    Price:  <i class="fas fa-rupee-sign"></i> {{cart_item.product.price}}
                    <br>
                    Bunch: {{cart_item.quantity}} x <i class="fas fa-rupee-sign"></i> {{cart_item.product.price}}
                </td>
                <td>
                   <i class="fas fa-rupee-sign"></i><strong> {{cart_item.sub_total}}</strong>
                </td>
                {% if cart_item.quantity < cart_item.product.stock %}
                <td>
                    <a href="{% url 'cart:add_cart' cart_item.product.id %}" class="custom_a"><i class="fas fa-plus custom_icon"></i></a>
                    &nbsp;<a href="{% url 'cart:cart_remove' cart_item.product.id %}" class="custom_a"><i class="fas fa-minus custom_icon"></i></a>
                    &nbsp;<a href="{% url 'cart:full_remove' cart_item.product.id %}" class="custom_icon"><i class="fas fa-trash custom_icon"></i></a>
                </td>
                {% else %}
                <td>
                    &nbsp;<a href="{% url 'cart:cart_remove' cart_item.product.id %}" class="custom_a"><i class="fas fa-minus custom_icon"></i></a>
                    &nbsp;<a href="{% url 'cart:full_remove' cart_item.product.id %}" class="custom_icon"><i class="fas fa-trash custom_icon"></i></a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
<div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
    <table class="table my_custom_table">
        <thead class="my_custom_thead">
        <tr>
            <th>
                Checkout
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Please review your shopping cart items before proceeding with the order payment.
            </td>
        </tr>
        <tr>
            <td class="text-center">
                 Your Total is : <i class="fas fa-rupee-sign"></i> <strong>{{ total }}</strong>
            </td>
        </tr>
        </tbody>
    </table>

        {% if not address_add %}
        <div class="mx-auto col-lg-4 col-md-12 btttnn"  >
        <a href="{% url 'address:address_changelist' %}" style="color:white;" >Pay Now</a>
            {% else %}
             <div class="mx-auto col-lg-4 col-md-12 btttnn"  >
        <a href="{% url 'connect:allProdCat' %}" style="color:white;" >Pay Now</a>
                 {% endif %}

    </div><br>
       <p style="font-size:20;"> Do you want to continue?</p><br>
    <div class="mx-auto col-lg-4" style="background-color:#FFC300; width=30; height=20;" >
        <a href="{% url 'connect:allProdCat' %}" style="color:white;"><b>Continue Shopping</b></a>
    </div>


  </div>
    </div>

</div>
    </div>


{% endif %}
{% endblock %}